.venv/
.env/
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

docs/

.vscode

.env

.DS_Store
wlu_chatbot/.DS_Store
wlu_chatbot/web_interface/.DS_Store
tests/.DS_Store


wlu_chatbot/uploads
wlu_chatbot/test_uploads
wlu_chatbot/db/uploads

bin/