/* ICONS: https://icons8.com/icons/set/files--style-dusk */
/* To use Icons8 graphics for free, you must include a link to Icons8 wherever you use the icons in the website. */

section h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  padding: 12px 12px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 12px;
  box-shadow: 6px 6px 0px #ffce34;
  background-image: 
    linear-gradient(#000000ad, rgba(32, 32, 33, 0.8)), 
    url("/static/images/campus.jpg");
}


.card {
  background: white;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: box-shadow 0.3s ease;
}
.card:hover {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.15);
}
.card h3 {
  font-family: "Montserrat";
  font-style: italic;
  color: #000000;
}
.card input[type="submit"],
.card button {
  background-color: #ffce34;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  margin-top: 12px;
}
.card form label,
.card form input[type="date"] {
  margin-right: 20px;
}
.card input[type="submit"]:hover,
.card button:hover {
  background-color: #000000;
  color: white;
}
.card textarea,
.card input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: 2px solid #0000;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.card textarea,
.card input[type="text"]:focus {
  border-color: #ffce34;
  outline: none;
  box-shadow: 0 0 5px #ffce34;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: url("/static/images/scottypaws.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.15;
  z-index: 0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  flex: 1;
}
.form-group label {
  display: block;
  font-weight: 550;
  color: #000;
}
.form-group input {
  width: 100%;
  padding: 8px 12px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: 4px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form-group input:focus,
.form-group input:hover {
  border-color: #ffce34;
  outline: none;
}
